name: Maven Verify

on:
  push: # Ignore releases and main dev branch
    tags-ignore:
      - 'v*'
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  INSTRUCTOR_USER: "instructor_e2e"
  INSTRUCTOR_PASSWORD: ${{ secrets.INSTRUCTOR_PASSWORD }}
  STUDENT_USER: "student_e2e"
  ARTEMIS_URL: "https://artemis-test.sdq.kastel.kit.edu"
  COURSE_ID: "4"
  PROGRAMMING_EXERCISE_ID: "41"
  EXAM_ID: "5"
  EXAM_EXERCISE_GROUP_ID: "6"
  EXAM_PROGRAMMING_EXERCISE_ID: "48"
  TEXT_EXERCISE_ID: "57"

concurrency:
  group: artemis-test-system

jobs:
  pre_job:
    name: "Check for duplicate jobs"
    runs-on: ubuntu-latest
    outputs:
      should_skip: ${{ steps.skip_check.outputs.should_skip }}
    steps:
      - id: skip_check
        uses: fkirc/skip-duplicate-actions@master
        with:
          concurrent_skipping: 'same_content_newer'
          skip_after_successful_duplicate: 'true'

  build:
    needs: pre_job
    if: ${{ needs.pre_job.outputs.should_skip != 'true' }}
    name: "Build and/or Deploy"
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        fetch-depth: 0

    - uses: joshlong/java-version-export-github-action@v28
      id: jve

    - name: Java with Cache
      uses: actions/setup-java@v4
      with:
        java-version: ${{ steps.jve.outputs.java_major_version }}
        distribution: 'temurin'
        cache: 'maven'

    - name: Maven Verify
      shell: bash
      run: mvn -U -B verify
